/* navibar */

* {
  box-sizing: border-box;
}

body {
  font-family: "segoe ui";
}

.navi {
  height: 50px;
  width: 100%;
  background-color: rgba(17, 24, 39, 1);
  position: absolute;
  top: 0;
  z-index: 10;
}

.navi > .navi-header {
  display: inline;
}

.navi > .navi-header > .navi-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.navi > .navi-btn {
  display: none;
}

.navi > .navi-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.navi > .navi-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.navi > .navi-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.navi > #navi-check {
  display: none;
}

@media (max-width: 600px) {
  .navi > .navi-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .navi > .navi-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .navi > .navi-btn > label:hover,
  .navi #navi-check:checked ~ .navi-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navi > .navi-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .navi > .navi-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(17, 24, 39, 1);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .navi > .navi-links > a {
    display: block;
    width: 100%;
  }
  .navi > #navi-check:not(:checked) ~ .navi-links {
    height: 0px;
  }
  .navi > #navi-check:checked ~ .navi-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
/* loader */

.ball-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.ball {
  position: relative;
  bottom: 50px;
  left: calc(100% - 20px);
  width: 50px;
  height: 50px;
  background: rgba(17, 24, 39, 1);
  border-radius: 50%;
  animation: ball-move8234 3s ease-in-out 1s infinite alternate;
}

.ball::after {
  position: absolute;
  content: "";
  top: 25px;
  right: 5px;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
}

.bar {
  width: 200px;
  height: 12.5px;
  background: #ffdaaf;
  border-radius: 30px;
  transform: rotate(-15deg);
  animation: up-down6123 3s ease-in-out 1s infinite alternate;
}

@keyframes up-down6123 {
  from {
    transform: rotate(-15deg);
  }

  to {
    transform: rotate(15deg);
  }
}

@keyframes ball-move8234 {
  from {
    left: calc(100% - 40px);
    transform: rotate(360deg);
  }

  to {
    left: calc(0% - 20px);
    transform: rotate(0deg);
  }
}
/* Login page */

.form-container {
  width: 320px;
  border-radius: 0.75rem;
  background-color: rgba(17, 24, 39, 1);
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
  border-color: rgba(167, 139, 250);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
  margin: 8px 0 14px 0;
}

.forgot a,
.signup a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover,
.signup a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
}

.sign {
  display: block;
  width: 100%;
  background-color: rgba(167, 139, 250, 1);
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(156, 163, 175, 1);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-top: 10px;
  color: rgba(156, 163, 175, 1);
}

.box {
  display: flex;
  justify-content: center;

  align-items: center;
  height: 100vh;
  width: 100%;
}

/* card css */

.car-cards {
  margin: 30px 10px;
}
.car-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 200px;
  width: 100%;
}
.single-card {
  position: relative;
  width: 350px;
  height: 284px;
  padding: 0;
  margin: 0;
  color: #2e2d31;
  background: #000;
  overflow: hidden;
  border-radius: 20px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.temporary_text {
  font-weight: bold;
  font-size: 24px;
  /* padding: 6px 12px; */
  color: #f8f8f8;
  height: 50px;
}

.feedback-btn {
  position: absolute;
  top: 65px;
  left: 188px;
}

.card_title {
  font-weight: bold;
}
.rent-button {
  position: absolute;
  top: 164px;
  left: 214px;
  float: left;
}
.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
  /* edit the width to fit card */
  width: 100%;

  padding: 5px 10px;
  background: #ffff;
  border-top-left-radius: 20px;
  /* edit here to change the height of the content box */
  transform: translateY(150px);
  transition: transform 0.25s;
}

.card_content::before {
  content: "";
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #f2f2f2;
}

.card_title {
  color: #131313;
  line-height: 15px;
}

.card_subtitle {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.card_description {
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s;
}

.single-card:hover .card_content {
  transform: translateY(0);
}

.single-card:hover .card_description {
  opacity: 1;
  transition-delay: 0.25s;
}

.details {
  font-weight: 600;
}

/* cardtext */

.text-body-secondary {
  color: white;
}

/* payment css */

.payment-container {
  background: white;
  max-width: 800px;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  padding: 50px 20px;
}
.payment-container .left {
  flex-basis: 50%;
}
.payment-container .right {
  flex-basis: 50%;
}
.payment-container form {
  padding: 1rem;
}

.payment-container .billing {
  color: #2c3e50;
}

.payment-container .payment {
  margin: 0px 0px 0px 0px;
  color: #2c3e50;
}

.payment-container form input[type="text"] {
  width: 100%;
  padding: 0.5rem 0.7rem;
  margin: 0.5rem 0;
  outline: none;
}

#zip {
  display: flex;
  margin-top: 0.5rem;
}
#zip select {
  padding: 0.5rem 0.7rem;
}
#zip input[type="number"] {
  padding: 0.5rem 0.7rem;
  margin-left: 5px;
}
.payment-container input[type="submit"] {
  width: 100%;
  padding: 0.7rem 1.5rem;
  background: #34495e;
  color: white;
  border: none;
  outline: none;
  margin-top: 1rem;
  cursor: pointer;
}

.payment-container input[type="submit"]:hover {
  background: hsl(120, 84%, 50%);
}

@media only screen and (max-width: 770px) {
  .payment-container {
    flex-direction: column;
  }
  body {
    overflow-x: hidden;
  }
}

/* signup */
.signup-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-form-box {
  max-width: 300px;
  background: #f1f7fe;
  overflow: hidden;
  border-radius: 16px;
  color: #010101;
}

.signup-form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 24px 24px;
  gap: 16px;
  text-align: center;
}

/*Form text*/
.signup-title {
  font-weight: bold;
  font-size: 1.6rem;
}

.signup-subtitle {
  font-size: 1rem;
  color: #666;
}

/*Inputs box*/
.signup-form-container {
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  margin: 1rem 0 0.5rem;
  width: 100%;
}

.signup-input {
  background: none;
  border: 0;
  outline: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: 0.9rem;
  padding: 8px 15px;
}

.signup-form-section {
  padding: 16px;
  font-size: 0.85rem;
  background-color: #e0ecfb;
  box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.signup-form-section a {
  font-weight: bold;
  color: #0066ff;
  transition: color 0.3s ease;
}

.signup-form-section a:hover {
  color: #005ce6;
  text-decoration: underline;
}

/*Button*/
.signup-form button {
  background-color: #0066ff;
  color: #fff;
  border: 0;
  border-radius: 24px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-form button:hover {
  background-color: #005ce6;
}

.table {
  margin-top: 50px;
}
